.icon-menu{
	cursor: pointer;
}

a{
	cursor: pointer;
}



#chat-list div {
    padding: 5px;
    cursor: pointer; /* Indica que se puede hacer clic */
}

#chat-list div:hover {
    background-color:darkcyan; /* Resalta al pasar el mouse */
}

.btn-blue{
    box-shadow: 4px 4px 4px gray;
    border: none !important;

}

#chat-list div{
    background-color: lightblue;
    margin-bottom: 10px;
    border-radius: 8px;
}